@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
.wraper-container{
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  padding-bottom: 0;
  background: #E5E5E5;
}
.header-course{
  background-image: url('/default/backgrond-header.png');
  min-height: 600px;
  background-position: left;
  background-size: 100%;
  .main-menu{
    .layout-header{
      .menu{
        .login{
          img , i {
            display: none;
          }
        }
      }
    }
  }
}
.background-header-course{
  // background-color: #3D329A;
  .breadcrumb{
    border-bottom: 0 !important;
    .main-content{
      a{
        span{
          color: #AEA6FF;
          font-weight: 500;
        }
      }
      .breadcrumb-item{
        &.active{
          color: #AEA6FF;
          font-weight: 500;
        }
      }
    }
  }
  .title{
    h1{
      color: white;
      margin-bottom: 0.1em;
    }
  }
  .description{
    color: white;
  }
  .overview-item{
    .item-main{
      margin-top: 20px;
      .ratting{
        border: 1px solid #5E52D0;
        padding: 7px 15px;
        border-radius: 7px;
      }
      .total-user-rate{
        margin-left: 20px;
        color: #DC98DA;
        letter-spacing: 1px;
        font-size: 18px;
        span{
          margin-left: 7px;
          color: white;
        }
      }
    }
  }
  .tag-course{
    background-image: url('/default/tag-course_.png');
    background-size: 100%;
    z-index: 1;
    width: 200px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -15px;
    bottom: -120px;
    color: white;
    font-size: 18px;
    font-style: italic;
  }
}
.course-info {
  display: flex;
  align-items: center;
  .title {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    h1 {
      padding: 20px 0;
      color: white;
      mix-blend-mode: difference;
      margin-bottom: 0;
    }
  }
}

#main-course-detail {
  position: relative;
  top: -200px;
  @include responsive(lg) {
    flex-flow: row wrap-reverse !important;
  }
  .course-detail {
    margin-top: 12px;
    margin-bottom: 100px;
    // border: 1px solid #9e9e9e;
    border-radius: 0 0 10px 10px;
    overflow: visible;
    .course-content{
      box-shadow: 0px 4px 30px rgba(95, 73, 118, 0.15);
      background-color: #ffffff;
      padding: 30px;
    }
    .list-topic-tree-item{
      margin-top: 50px;
      h2{
        margin-left: 20px;
      }
      .course-topic-tree{
        box-shadow: 0px 4px 30px rgba(95, 73, 118, 0.15);
        .main-topic{
          padding: 0;
          .item-tree{
            position: relative;
          .stt-topic{
            width: 25px;
            height: 25px;
            border-radius: 100%;
            border: 1px solid #5624D0;
            position: absolute;
            left: -13px;
            top: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #5624D0;
          }
          .icon-new-topic{
            img{
              width: 30px;
              position: absolute;
              right: 0;
              top: 0;
            }
          }
          .main-topic-node{
            border-radius:0;
            background-color: white;
            border: 0;
            border-bottom: 1px solid #ccc;
            padding: 10px 20px;
            margin-bottom: 0;
            .topic-header{
              text-align: center;
              grid-template-columns: 18fr 5fr 2fr 1fr;

              .topic-title{
              .isStatusDone{
                width: 10px;
                height: 10px;
                border: 1px solid #5624D0;
                border-radius: 100%;
                margin-top: 3px;
              }
              .icon-clock{
                margin: 0 10px;
              }
            }
            .accomplished{
              div{
                background-color: #7CE192;
                width: 55px;
                height: 23px;
                border-radius: 50px;
                box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
                margin:auto;
                margin-right: -20px;
              }
            }
            .toggle-main{
              display: none;
            }
            }
            .main-topic-content{
              .item-main-topic-content{
              .leaf-topic-node{
                padding: 0;
                position: relative;
                .isPrice{
                  position: absolute;
                  right: 0;
                  top: -5px;
                }
                .isDone{
                  position: absolute;
                  right: 8px;
                  top: 25px;
                }
                .leaf-topic-header{
                  padding: 15px 0;
                }
              }
              &:first-child{
                margin-top: 20px;
              }
            }
            }
          }
        }
        }
      }
    }
    
  }

  #course-overview {
    margin: 12px;
    padding: 10px;
    margin-right: 0;
    margin-left: 20px;
    box-shadow: 0px 4px 30px rgba(95, 73, 118, 0.15);
    background-color: white;
    .information-course{
      background-color: white;
      position: relative;
      .discount-price{
        width: 100px;
        background-color: white;
        border-bottom-right-radius: 20px;
        position: absolute;
        top: -10px;
        left: -10px;
        color: #FFA800;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 3px;
        font-size: 13px;
        b{
          font-size: 14px;
        }
      }
      .time-end-price{
        border: 1px solid #FFC107;
        padding: 5px;
        margin-top: 10px;
        position: relative;
        ._iconNew{
          position: absolute;
          right: 5px;
          top: -5px;
        }
      }
      .inf-course_{
        padding: 10px;
        padding-top: 15px;
        .price-and-discount-price{
          display: flex;
          .price-real{
            font-weight: 500;
            font-size: 13px;
            margin-right: 10px;
          }
        }
        .item__{
          margin-top: 15px;
          display: flex;
          img{
            margin-right: 20px;
          }
          .text{
            font-weight: 500;
            font-size: 13px;
            margin-right: 10px;
            width: 100px;
          }
          .number__{
            font-weight: 500;
            font-size: 13px;
          }
        }
      }

    }
    .title-block {
      text-align: center;
      border-bottom: 2px solid $root-color;
    }
    .short-desc {
      text-align: justify;
      text-justify: inter-word;
      margin-top: 12px;
    }
    .overview-item {
      display: flex;
      align-items: center;
      margin: 12px 0;
      i {
        width: 22px;
      }
      .item-main {
        span[role="label"] {
          font-weight: 800;
          margin-right: 2px;
        }
      }
    }

    .price,
    .origin-price {
      color: $root-color;
      text-align: center;
      font-size: 24px;
      text-transform: uppercase;
      &.discount {
        text-decoration: line-through;
      }
    }

    .rating-star {
      mix-blend-mode: multiply;
      margin-right: 10px;
      font-size: 13px;
    }

    .button-group {
      width: 100%;
      margin-top: 10px;
      // display: flex;
      justify-content: space-between;
      div{
        width: 100%;
        margin: 10px 0;
        button{
          width: 100%;
        }
      }
      
      @include responsive(xl) {
        flex-direction: column;
        gap: 10px;
      }
      @include responsive(lg) {
        flex-direction: row;
      }
      .btn {
        min-width: 48%;
        &:hover {
          filter: brightness(1.5);
        }
      }
      .bgr-green {
        background-color: #A168FF;
        border-color: #A168FF;
        padding: 5px;
      }
      .bgr-root {
        background-color: $root-color;
        border-color: $root-color;
        padding: 5px;
      }
    }
  }
}
.current-user-wrap {
    .user-menu-icon {
      cursor: pointer;
      .user-acc {
        color: #fff;
        font-size: 24px;
      }
    }
    position: relative;
    .user-menu-panel {
      border-radius: 10px;
      position: absolute;
      z-index: 2;
      background-color: #fff;
      top: 30px;
      right: 0px;
      // left: -212px;
      overflow: hidden;
      border: 1px solid #ccc;
      .user-profile {
        padding: 15px;
        display: flex;
        align-items: center;
        background: url(/bg-profile-dropdown.png) no-repeat !important;
        background-size: 100% 100% !important;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-right: 12px;
        }
        .user-info {
          .info-text {
            min-width: 100px;
            color: #fff;
            margin: 5px 0;
          }
        }
      }
      .user-menu {
        color: #333333;
        opacity: 0.9;
        .menu-item {
          display: flex;
          cursor: pointer;
          color: black;
          &:hover {
            background-color: #f5f5f5;
            color: #262626;
          }
          i {
            min-width: 20px;
            margin-right: 10px;
          }
          padding: 10px;
        }
      }
    }
  }
  .hideDesktop{
    display: none;
    
  }
  @media (max-width:768px) {
    .header-course{
      .main-menu{
        .layout-header{
          .menu-icon{
            display: block;
          }
          .menu{
            display: unset;
            width: 70%;
            .menu-item{
              color: black;
              text-align: left;
            }
          }
          .left-header{
            .logo{
              display: block;
            }
          }
        }
      }
    }
    .wraper-container{
      padding: 0;
    }
    .hideDesktop{
      display: block;
      position: relative;
      .item{
        position: absolute;
      }
      .cart{
        right: 70px;
        top: -10px;
        i{
          font-size: 18px;
          color: white;
        }
      }
      .current-user-wrap{
        top: -13px;
        right: -10px;
      }
      .menu-icon{
        right: 15px;
        top: -10px;
        display: block;
      }
      .login{
        top: -15px;
        right: -15px;
        img{
          width: 30px;
          height: 30px;
        }
        i , .text{
          display: none;
        }
      }
      .signup{
        display: none;
      }
    }
    .background-header-course {
      .overview-item{
        .item-main{
          .ratting{
            ul{
              li{
                div{
                  span{
                    svg{
                      font-size: 10px;
                    }
                  }
                }
              }
            }
          }
          .total-user-rate{
            font-size: 11px;
          }
        }
      }
      .tag-course{
        bottom: -20px;
      }
    }  
    #main-course-detail{
      #course-overview{
        margin: 0;
      }
    }
  }
