.comment-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  &.reply {
    margin-left: 50px;
    position: relative;
    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: var(--top-reply, -60px);
      // top: -60px;
      left: -30px;
      width: 30px;
      height: var(--height-reply, 80px);
      // height: 80px;
      background-color: transparent;
      border-bottom-left-radius: 10px;
      border-left: 2px solid #d3d3d3;
      border-bottom: 2px solid #d3d3d3;
    }
  }
  .avatar {
    align-self: baseline;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    img {
      height: 40px;
      border-radius: 50%;
      width: 40px;
    }
  }
  .comment-main {
    .comment-content {
      padding: 8px 10px;
      border-radius: 10px;
      background-color: #e4e6eb;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: fit-content;
      .usr-name {
        font-weight: 600;
      }
    }
    .comment-stat {
      padding: 1px 10px;
      display: flex;
      flex-direction: row;
      color: #535455;
      & * {
        font-size: 12px;
      }
      .delimiter {
        text-align: center;
        line-height: 50%;
        font-weight: bolder;
        margin: 0 5px;
        color: red;
      }
      .like,
      .answer,
      .load-more-reply {
        font-weight: bold;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
