.document-background {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	padding: 0.5rem 0;
	.document-header {
		display: flex;
		align-items: center;
		position: relative;
		.document-header-element {
			flex-grow: 1;
			position: relative;
		}
		.document-header-button {
			float: right;
			background-color: red;
			border: none;
		}
	}
}

.nav-input:checked ~ .menu-school {
	display: block;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	position: absolute !important;
	width: 300px;
	max-height: 400px;
	z-index: 10;
	animation: growDown 300ms ease-in-out forwards;
	transform-origin: top center;
	margin-top:0.6rem
}

.dropdown-document-element {
	padding: 10px 15px;
	cursor: pointer;
	&:hover {
		background-color: #f44336;
	}
}

.school-name{
	font-weight: 700;
	margin-left: 1rem;
	cursor: pointer;
}

.menu-school {
	display: none;
}

@keyframes growDown {
	0% {
		transform: scaleY(0);
	}
	80% {
		transform: scaleY(1.1);
	}
	100% {
		transform: scaleY(1);
	}
}
