.home-utility{
  .list{
    display: flex;
    justify-content: space-between;
    .list-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        margin-bottom: 16px;
      }
      .description{
        font-weight: bold;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        color: #9E9E9E;
      }
    }
  }
}
@media(max-width: 900px ){
  .home-utility{
    .list{
      flex-wrap: wrap;
      justify-content: space-around;
      .list-item{
        width: 50%;
        padding: 0 16px;
        margin-bottom: 8px;
        img{
          width: 80px;
          margin-bottom: 12px;
        }
        .description{
          font-size: 14px;
        }
      }
    }
  }
}