NEXT_PUBLIC_FIREBASE_CONFIG={"apiKey":"AIzaSyC4zsqO93M4kL8ks_hMjeBty-MoQBJ4_38","authDomain":"test-event-game.firebaseapp.com","databaseURL":"https://test-event-game-default-rtdb.asia-southeast1.firebasedatabase.app","projectId":"test-event-game","storageBucket":"test-event-game.appspot.com","messagingSenderId":"722720962982","appId":"1:722720962982:web:5d68bc3efa9bb7ed1c3767","measurementId":"G-7WH2PE10SP"}
NEXT_PUBLIC_VIDEO_THUMB=https://storage.googleapis.com/ielts-fighters.appspot.com/elearning-react/2021/10/30/34393550ielts_writing_image
NEXT_PUBLIC_COURSE_THUMB=https://storage.googleapis.com/ielts-fighters.appspot.com/elearning-react/2021/10/30/54040744ielts_writing_image
NEXT_PUBLIC_ENDPOINT=http://localhost:3001
NEXT_PUBLIC_SERVER_ENDPOINT=http://localhost:3001
NEXT_PUBLIC_SITENAME=Web name
NEXT_PUBLIC_DOMAIN=http://localhost:3000