[submodule "sub_modules/common"]
	path = sub_modules/common
	url = git@bitbucket.org:ksdevs/elearning-common.git
[submodule "sub_modules/game"]
	path = sub_modules/game
	url = git@bitbucket.org:ksdevs/elearning-game.git
[submodule "sub_modules/share"]
	path = sub_modules/share
	url = git@bitbucket.org:ksdevs/elearning-model.git
[submodule "sub_modules/scenario"]
	path = sub_modules/scenario
	url = git@bitbucket.org:ksdevs/video-scenario.git
[submodule "sub_modules/document"]
	path = sub_modules/document
	url = git@bitbucket.org:ksdevs/elearning-documents.git
[submodule "sub_modules/live-game"]
	path = sub_modules/live-game
	url = git@bitbucket.org:ksdevs/elearning-live-game.git
[submodule "sub_modules/firebase"]
	path = sub_modules/firebase
	url = git@bitbucket.org:ksdevs/elearning-firebase.git
