.popup-show-info-course{
    background-color: white;
    .title-course{
        padding: 10px;
        color: white;
        background-color: #EC1F28;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
    }
    .popup-show-infor{
        display: flex;
        padding: 10px;
        .image-course{
            width: 50%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .infor-course{
            margin: 7px;
            margin-top: 0;
            .item{
                margin: 5px 0;
            }
            .tag-video-course{
                padding: 5px 7px;
                color: white;
                background-color: #617b89;
                display: flex;
                align-items: center;
                margin-right: 7px;
                border-radius: 4px;
                svg{
                    margin-right: 5px;
                }
            }
            .price-course{
                display: flex;
                align-items: center;
                margin: 10px 0;
                svg{
                    color: #FF7816;
                    font-size: 25px;
                }
                .crs-discount-price{
                    font-size: 23px;
                    color: #FF7816;
                    font-weight: 600;
                    margin: 0 7px;
                }
                .crs-origin-price{
                    text-decoration: line-through;
                }
            }
            .detail-course{
                cursor: pointer;
                color: red;
                &:hover{
                    color: #FF7816;
                }
            }
        }
        
    }
    .des-course{
        margin: 7px;
        font-size: 15px;
    }
    .optional{
        display: flex;
        align-items: center;
        button{
            border: 0;
            width: 50%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 16px;
            cursor: pointer;
            &:first-child{
                background-color: rgb(139, 116, 77);
                &:hover{
                    background-color: rgb(233, 168, 56);
                }
            }
            &:last-child{
                border:#FF7816;
                background-color: #FF7816;
                &:hover{
                    background-color: #f36e0e;
                }
            }
        }
    }
}