@mixin item-avatar-style {
  min-height: 220px;
  max-width: 100%;
  height: auto;
  border-radius: 0 0 20px 0;
}

.cat-avatar {
  position: relative;
  & img {
    @include item-avatar-style;
  }
  .avatar-overlay {
    border-radius: 0 0 20px 0;
    position: absolute;
    .overlay-title {
      position: absolute;
      color: #ffffff;
      bottom: 0;
      right: 0;
      margin: 0 20px 20px 0;
      & span {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        font-style: normal;
      }
      &:hover{
        text-decoration: underline;
      }
    }
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
    transition: 0.3s ease;
    background-color: rgba(236, 31, 36, 0.6);
  }
}

.cat-info {
  .cat-title {
    font: {
      size: 18px;
      weight: 700;
      style: normal;
    }
    line-height: 21px;
    text-transform: uppercase;
    color: #ec1f24;
    margin-bottom: 18px;
    white-space: nowrap; 
    min-width: 175px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  margin: 16px;
}
@media(max-width: 600px){
  .container-1{
    .cat-info{
      margin: 0;
    padding: 12px;
    }
    .cat-title{
      margin-bottom: 8px;
      font-size: 16px;
    }
    .cat-avatar{
      img{
        min-height: 145px;
      }
    }
  }
}