@import "../../styles/variables.scss";

#scroll-top-button > .scrollTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  background-color: white;
  width: 50px;
  box-shadow: 0 0 6px 2px $root-color;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: $root-color;
}
