@import "../../styles/variables.scss";
#main-page-wrapper {
  padding: 0 70px;
  background-color: #e5e5e5;
  background-image: url("/images/icons/backgrond__.png");
  &.-default-background {
    background-color: unset;
    background-image: unset;
    padding: 0;
  }
  @media (max-width: 768px) {
    padding: 0;
  }
}
#scroll-top-button > .scrollTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  background-color: white;
  width: 50px;
  box-shadow: 0 0 6px 2px $root-color;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: $root-color;
}
