@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

#menu-mobile.menu-mobile- {
    .show-menu {
        i {
            font-size: 24px;
            color: #9b92f1;
        }
    }

    .mobile-menu {
        &.active {
            right: 0;
            display: block;
        }
        position: fixed;
        display: none;
        z-index: 5;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: white;
        top: 0;
        transition: all 0.5s;
        border-bottom-left-radius: 70px;
        box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2);
        transition: display 0.2s ease-in-out 0s;
        .wraper-show {
            padding: 15px;
            background-color: $root-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .fa-times {
                font-size: 24px;
                color: #9b92f1;
            }
            .user-profile {
                padding: 15px;
                display: flex;
                align-items: center;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 12px;
                    padding: 5px;
                    background-color: $root-background-color;
                }
                .icon-close {
                    width: 25px;
                    mix-blend-mode: color-burn;
                }
                .user-info {
                    .info-text {
                        min-width: 100px;
                        color: #fff;
                        margin: 5px 0;
                    }
                }
            }
        }
        .wraper-menu-item {
            .menu-item {
                font-size: 18px;
                border-bottom: 1px solid #ccc;
                padding: 5px;
                padding-left: 10px;
                span {
                    img {
                        width: 12px;
                        margin-right: 10px;
                    }
                }
            }
            .text {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
