.lesson-video-view {
  display: flex;
  align-items: center;
  justify-content: center;
  .lesson-video-player-wrapper {
    iframe, video, .react-player__preview {
      border-radius: 18px;
    }
  }
}
