.main-header{
  background-image: url(/home/header-bg.png);
  .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 56px;
    .notification-item {
      position: relative;
      .notification {
        color:#fff;
        font-size: 20px;
        cursor: pointer;
      }
      #content-notify-main {
        padding: 5px;
        overflow-y: auto;
        width: 300px;
        height: 400px;
        .notify-text {
          text-align: center;
          padding-bottom: 5px;
          border-bottom: 1px solid #ddd;
          margin-bottom: 10px;
        }
        .notify-load-more {
          text-align: center;
        }
      }
    }
  }
  .logo{
        margin-left: 0;
    margin-right: auto;
  }
  .item{
    margin-left: 26px;
  }
  .text{
    color: #fff;
  }
  .phone,.mail{
    display: flex;
    .image{
      margin-right: 8px;
    }
  }
  .deal-shock{
    position: relative;
    margin-right: 26px;
    .head{
      position: absolute;
      top: -10px;
      right: -32px;
      font-size: 13px;
      font-weight: 700;
      color: #fff;
    }
  }
  .current-user-wrap{
    margin-left: 26px;
    .current-user-text{
      color: #fff;
    }
  }
  .login, .logout, .signup {
    cursor: pointer;
  }
}
.menu-widget-ks-dropdown {
  // display: none;
  position: absolute;
  top: 30px;
  right: 0;
  min-width: 100px;
  box-sizing: border-box;
  background: white;
  border: solid 1px rgba(100, 100, 100, .20);
  -webkit-box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
  z-index: 10;
  color: #333;
}
.notify-text {
  text-align: center;
}
.menu-notif {
  .notify-a {
    opacity: .9;
    align-items: flex-start;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    .img-notif {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-right: 10px;
      border-radius: 100%;
      width: 50px;
      height: 50px;
    }
    .content_ {
      font-size: 12px;
      white-space: break-spaces;
    }
  }
}
@media(max-width:600px){
  .main-header{
    padding: 16px;
    .container{
      display: grid;
      grid-template-areas: "phone phone mail mail" "dealshock cart login signup";
      justify-content: space-between;
      height: auto;
    }
    .logo{
      display: none;
    }
    .item{
      margin: 0;
      // padding: 10px 16px;
    }
    .phone{
      grid-area: phone;
      margin-bottom: 12px;
      .text{
        span{
          display: none;
        }
      }
    }
    .mail{
      grid-area: mail;
      margin-bottom: 12px;
      .text{
        span{
          display: none;
        }
      }
    }
    .deal-shock{
      grid-area: dealshock;
      
    }
    .cart{
      grid-area: cart;
    }
    .login{
      grid-area: login;
    }
    .signup{
      grid-area: signup;
    }
    
  }
}