@import '../../styles/variables.scss';

.breadcrumb {
  border-bottom: 1px solid #ccc;
  background: transparent;
  .main-content {
    padding-top: 7px;
    padding-bottom: 7px;
    .breadcrumb-link {
      text-decoration: none !important;
    }
    .breadcrumb-item, .breadcrumb-slash {
      margin-right: 7px;
    }
    .breadcrumb-item {
      cursor: pointer;
      color: #000000;
      // transition: all 0.2s;
      &:hover {
        text-decoration: underline;
        color: $root-color;
      }
      &.active {
        text-decoration: none;
        color: $root-color;
        cursor: default;
      }
    }
  }
}
