@import '../../styles/variables.scss';

.breadcrumb {
  border-bottom: 1px solid #ccc;
  .main-content {
    padding-top: 7px;
    padding-bottom: 7px;
    .breadcrumb-item, .breadcrumb-slash {
      margin-right: 7px;
    }
    .breadcrumb-item {
      cursor: pointer;
      // transition: all 0.2s;
      &:hover {
        text-decoration: underline;
        color: $root-color;
      }
      &.active {
        color: $root-color;
      }
    }
  }
}
