.topic-rankings {
  margin: 15px;

  .rank-filter {
    display: flex;
    .filter-option {
      label {
        font-weight: 600;
        margin-right: 8px;
      }
      margin: 10px 16px 10px 0;
    }
  }
}