@import '../../styles/responsive.scss';

.student-feeling {
  padding: 24px;
  background: url(/home/student-feeling-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  .text-1 {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    .text {
      font-weight: bold;
      font-size: 14px;
      margin-right: 16px;
      color: #ffffff;
      letter-spacing: 2px;
    }
    .sign {
      width: 100px;
      height: 2px;
      background: #ffffff;
      border-radius: 3px;
      margin-bottom: 3px;
    }
  }
  .text-2 {
    font-weight: 900;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 8px;
  }
  .text-3 {
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
  }

  .home-swiper-wrap {
    color: #ffffff;
    .student-feeling-slide-item {
      margin: 20px 0;
      display: flex;
      text-justify: inter-word;
      text-align: justify;
      @include responsive(sm) {
        flex-direction: column;
        align-items: center;
      }
      .image {
        margin-right: 20px;
        @include responsive(sm) {
          margin-right: unset;
          margin-bottom: 20px;
        }
      }
    }
  }
}
