@import '../../styles/variables.scss';

.main-category-section {
  .section-main {
    position: relative;
    overflow: hidden;
    .category-list {
      padding-bottom: 16px;
    }
  }
}
