.inner-topic-node {
  padding: 0 17px;
  .inner-topic-header {
    &:hover {
      background-color: #fff2ec;
    }
    grid-template-columns: 45fr 12fr 1fr;
    display: grid;
    align-items: center;
    position: relative;
    margin: 13px 0;
    cursor: pointer;
    .bullet-red-list {
      display: flex;
      align-items: center;
      .topic-title,
      .topic-progress {
        font-weight: 500;
      }
      i {
        margin-right: 10px;
        font-size: 4px;
        color: red;
      }
      .topic-title {
        color: #3c3c3c;
      }
      .topic-progress {
        color: #fc6062;
        &.done {
          color: #74c794;
        }
      }
    }
    .toggle {
      color: rgba(#000000, 0.54);
    }
  }
}
