@import '../../../styles/variables.scss';

.grid-col-4-6 {
  display: grid;
  grid-template: {
    columns: 40% 60%;
  };
}

@media (max-width: $mobile-max-width) {
  .grid-col-4-6 {
    grid-template-columns: 1fr;
  }
}