@import '../../styles/variables.scss';
$main-color-study: #6f6f6f;
.main-exercise {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.box-view {
  height: 200px;
  background: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-bottom: 20px;

  .number-card {
    font-size: 64px;
    color: #3c3c3c;
    text-align: center;
    margin-top: 24px;
  }
}
.header-boxview {
  height: 60px;
  align-items: center;
  border: 1px solid #cdcdcd;
  padding: 0 20px;
  border-radius: 15px 15px 0px 0px;
  background-image: url(/24h/bg-panel.png);
  background-position: right;
  .title {
    flex-grow: 1;
    color: #fff;
  }
}

.left-exercise {
  margin: 0 20px;
}

.center-exercise {
  background: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 24px;
  .name {
    font-size: 22px;
    font-weight: 500;
  }
  .test-score {
    font-size: 96px;
  }
  .text-result {
    font-size: 30px;
  }
}

.main-score-test {
  .icon-panel-test {
    align-items: baseline;
    justify-content: center;
  }
}

.main-score-exercise {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon-panel-exercise {
    flex-direction: column;
  }
}

.content-center-exercise {
  width: 70%;
  margin: 0 auto;
}
.exercise-info {
  margin: 20px auto;

  .line {
    background: #f5f5f5;
    height: 2px;
  }
  .item {
    margin: 24px 4px;
  }
}
.button-panel {
  justify-content: space-evenly;
  margin: 20px auto;
  align-items: center;
  .button {
    width: 169px;
    height: 45px;
    background: rgba(177, 177, 177, 0.942708);
    border: rgba(177, 177, 177, 0.942708);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    outline: none;
    cursor: pointer;
  }
  .select-box {
    width: 206px;
    height: 45px;
    border: 1px solid #7d7d7d;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
  }
}

.topic-test-view {
  position: relative;
  top: -200px;
  .viewStudycore{
    display: flex;
    background-color: white;
    box-shadow: 0px 4px 30px rgba(95, 73, 118, 0.15);
    margin: 20px 0;
    justify-content: center;
  }
  .thong-ke-{
    display: flex;
    box-shadow: 0px 4px 30px rgba(95, 73, 118, 0.15);
    background-color: white;
    margin-bottom: 20px;
    .commentPanel_{
      box-shadow: 0px 4px 30px rgba(95, 73, 118, 0.15);
    }
  }
  .view-panel-score{
    display: flex;
    .view-left{
      padding-right: 20px;
      .view-section1{
        width: 100%;
        max-width: 100%;
        display: unset;
        .section1{
          width: 100%;
          max-width: 100%;
          .start-game__{
            display: none;
          }
        }
        .MuiGrid-container{
          display: unset;
        }
        .information-in-course{
          display: none;
        }
      }
      .comment__{
        display: none;

      }
    }
    .view-right{
      #course-overview{
        margin: 0;
      }
    }
  }
  .view-section1{
    // display: flex;
    // background-color: white;
    // box-shadow: 0px 4px 30px rgba(95, 73, 118, 0.15);
    .information-in-course{
      #course-overview{
        margin: 0;
        margin-top: 20px;
      }
    }
    .comment__{
      box-shadow: 0px 4px 30px rgba(95, 73, 118, 0.15);
      background-color: white;
    }
  }
  .section1 {
    background-color: white;
    box-shadow: 0px 4px 30px rgba(95, 73, 118, 0.15);
    .title {
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 48px;
    }
    .list {
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      padding: 16px 0;
      width: 90%;
      margin: auto
    }
    .start-game__{
      .pre-game-start{
        .start-game-btn{
          color: white;
          background-color: #DF92DD;
          border-radius: 2px;
          margin-bottom: 20px;
          width: 150px;
          text-align: center;
        }
      }
      
    }
    .list-exercise {
      // display: flex;
      justify-content: center;
      .list-item {
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        margin: 10px 0;
        padding: 5px;
        padding-left: 40px;
      }
    }
    .list-item {
      display: flex;
      justify-content: space-between;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      margin: 10px 0;
      padding: 5px;
      padding-left: 40px;
      &:last-child {
        border: none;
      }
      .number {
        font-size: 14px;
        font-weight: 500;
        width: calc(40% - 50px);
        background: #F9FAFA;
        box-sizing: border-box;
        box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.15);
        padding: 8px 5px;
        text-align: center;
      }
      .text {
        font-size: 15px;
        display: flex;
        align-items: center;
      }
    }
  }
  .section2 {
    text-align: center;
    margin: 20px 0;
    
    padding: 20px 0;
    .text-result{
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .img-and-text{
      .text{
        color: #2BA75F;
      }
    }
    .score-wrap{
      .score-number{
        color: #1FA457;
        font-size: 20px;
        font-weight: 500;
        margin-top: 20px;
      }
    }
    .buttons{
      margin: auto;
      display: flex;
      margin-top: 15px;
      .xem-lai,.lam-lai{
        width: 150px;
        background-color: #DF92DD;
        color: white;
        padding: 12px;
        margin: auto 15px;
        cursor: pointer;

      }
    }
    .date,
    .time {
      text-align: center;
      font-size: 14px;
      margin-bottom: 6px;
      span:first-child {
        margin-right: 8px;
      }
      span:nth-child(2) {
        color: #9c9c9c;
      }
    }
    .date {
      &.skeleton {
        > span {
          display: block;
          width: 110px;
          height: 100%;
          > span {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .time {
      &.skeleton {
        > span {
          display: block;
          width: 170px;
          height: 100%;
          > span {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .section2-right {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;
      img {
        max-width: 250px;
      }
      .text {
        font-size: 14px;
        text-decoration-line: underline;
        color: #565656;
        margin-top: 8px;
        margin-left: 10px;
      }
      .title {
        span {
          display: block;
          width: 100px;
        }
        margin-right: 40px;
        margin-bottom: 24px;
      }
      .image {
        span {
          width: 170px;
          height: 140px;
        }
        margin-bottom: 24px;
      }
      .text {
        span {
          display: block;
          width: 180px;
        }
      }
    }
  }
  .section2-top {
    display: flex;
  }
  .section2-no-exam {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border: 1px solid $border-color-1;
    border-radius: 10px;
    height: 342px;
    img {
      width: 290px;
      margin-bottom: 12px;
    }
    .button-list {
      display: grid;
      grid-template-columns: 1fr;
      .select-mode-study {
        display: flex;
        align-items: center;
      }
    }
    .select-mode-study {
      align-items: center;
      color: $main-color-study;
      margin-bottom: 16px;
      .select-box {
        width: 200px;
        height: 40px;
        border: 1px solid $main-color-study;
        box-sizing: border-box;
        border-radius: 10px;
        color: $main-color-study;
        font-size: 14px;
        margin: 0 10px;
        outline: none;
        cursor: pointer;
      }
    }

    .date,
    .time {
      text-align: center;
      font-size: 14px;
      margin-bottom: 12px;
      span:first-child {
        margin-right: 8px;
      }
      span:nth-child(2) {
        color: #9c9c9c;
      }
    }
    .xem-lai {
      width: 150px;
      border-radius: 10px;
      height: 40px;
      flex: 1;
      border: 1px solid $main-color-study;
      background-color: #fff;
      color: $main-color-study;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      margin-left: 10px;
      cursor: pointer;
    }
    .lam-lai {
      border-radius: 6px;
      height: 32px;
      width: 125px;
      border: 1px solid #6f6f6f;
      background-color: #6f6f6f;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      cursor: pointer;
      margin: 0 16px;
      &:hover {
        background-color: $main-color-study;
      }
    }
  }

  .section3 {
    padding: 25px;
    background-color: white;
    .tien-do-hoc{
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .cardDataBoxViewPanel{
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: space-between;
    }
  }
  .section3-box {
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 16px;
    cursor: pointer;
    margin: 15px ;
    .head_ {
      font-size: 14px;
      color: black;
      text-align: center;
      box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
      padding: 5px;
    }
    .content {
      display: flex;
      justify-content: space-around;
      margin-bottom: 25px;
    }
    .image {
      &.skeleton {
        span {
          display: block;
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
      }
    }
      .sentence-number {
        font-size: 36px;
         font-weight: 500;
        &.skeleton {
          span {
            display: block;
            width: 40px;
          }
        }
      }
    
    .sentence-text {
      // font-weight: 600;
      align-self: flex-end;
      margin-bottom: 6px;
      &.skeleton {
        span {
          display: block;
          width: 25px;
        }
      }
    }
    &:nth-child(1){
      .content{
        .sentence-number{
          color: #FFBE40;
        }
      }
    }
    &:nth-child(2){
      .content{
        .sentence-number{
          color: #FF8474;
        }
      }
    }
    &:nth-child(3){
      .content{
        .sentence-number{
          color: #2DC27C;
        }
      }
    }
    &:nth-child(4){
      .content{
        .sentence-number{
          color: #02C2E8;
        }
      }
    }
  }
  .section4 {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 24px;
    .title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 24px;
    }
  }
}

.section-result-exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  border: 1px solid $border-color-1;
  border-radius: 10px;
  margin-bottom: 24px;
  font-size: 14px;
  .date-time {
    margin-bottom: 0;
  }
  .button-list {
    display: grid;
    grid-template-columns: 1fr;
    .select-mode-study {
      display: flex;
      align-items: center;
    }
  }
  .date,
  .time {
    font-size: 14px;
    margin-bottom: 6px;
    display: grid;
    grid-template-columns: 117px 16px 80px;
    span:first-child {
      text-align: center;
    }
    span:nth-child(3) {
      color: #9c9c9c;
      text-align: center;
    }
    &.skeleton {
      > span {
        display: block;
        width: 170px;
        height: 100%;
        > span {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .score-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  .score-number {
    font-size: 52px;
    font-weight: 500;
    color: #ffd561;
  }
  .score-text {
    font-size: 30px;
    color: #7d7d7d;
    align-self: flex-end;
    margin-bottom: 8px;
    margin-left: 3px;
  }
  .select-mode-study {
    align-items: center;
    color: $main-color-study;
    .select-box {
      width: 200px;
      height: 40px;
      border: 1px solid $main-color-study;
      box-sizing: border-box;
      border-radius: 10px;
      color: $main-color-study;
      font-size: 14px;
      margin: 0 10px;
      outline: none;
      cursor: pointer;
    }
  }
  .xem-lai {
    width: 125px;
    border-radius: 4px;
    height: 32px;
    flex: 1;
    border: 1px solid #6f6f6f;
    background-color: #fff;
    color: #6f6f6f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
  }
  .lam-lai {
    border-radius: 4px;
    height: 32px;
    width: 125px;
    border: 1px solid #6f6f6f;
    background-color: #6f6f6f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    margin: 0 16px;
    &skeleton {
      width: 170px;
    }
  }
}

@media (max-width: 600px) {
  .topic-test-view {
    .section1 {
      .list {
        grid-template-columns: 1fr 1fr !important;
        padding: 0;
      }
      .list-item {
        padding: 16px 0;
        border-bottom: 1px solid #dadada;
        &:nth-child(odd) {
          border-right: 1px solid #dadada;
        }
        &:nth-child(even) {
          border-right: none;
        }
      }
    }
    .section2-no-exam {
      max-width: 100% !important;
      img {
        max-width: 100%;
      }
    }
    .section2 {
      flex-direction: column-reverse;
      .section2-right {
        margin-bottom: 32px;
        img {
          max-width: 100% !important;
        }
      }
    }
    .section3 {
      grid-template-columns: 1fr 1fr;
    }
    .date-time {
      margin-bottom: 45px;
    }
    .score-wrap {
      margin-bottom: 45px;
      .score-number {
        font-size: 100px;
      }
      .score-text {
        margin-bottom: 15px;
        margin-left: -3px;
      }
    }
    .select-mode-study {
      margin-bottom: 16px;
    }
    .button-list {
      grid-template-columns: 1fr !important;
      .xem-lai {
        width: 120px;
      }
      .lam-lai {
        width: 120px;
      }
    }
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  .topic-test-view {
    .section2 {
      flex-direction: column-reverse;
      .section2-left {
        .score-wrap {
          margin: 32px 0;
        }
      }
      .section2-right {
        margin-bottom: 32px;
      }
      .buttons {
        .lam-lai,
        .xem-lai {
          width: 117px;
          height: 37px;
          margin: 0 6px;
        }
      }
    }
    .section2-no-exam {
      .button-list {
        grid-template-columns: 1fr;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .section3 {
      grid-template-columns: 1fr 1fr;
    }
  }
}
