@import '../../../styles/variables.scss';

.grid-template-1 {
  z-index: 1;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-auto-flow: row;
    row-gap: 26px;
    column-gap: 2%;
}

@media (max-width: $h-mobile-max-width) {
  .grid-template-1 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    padding: 0 16px;
  }
}

@media (max-width: $mobile-max-width) {
  .grid-template-1 {
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    padding: 0 14px;
  }
}
