.comment-section {
  padding: 15px;
  .reply-comment{
    .new-comment{
      margin-left: 50px;
      position: relative;
      &::before{
        content: "";
        z-index: -1;
        position: absolute;
        top: -41px;
        left: -29px;
        width: 22px;
        height: 62px;
        background-color: transparent;
        border-bottom-left-radius: 10px;
        border-left: 2px solid #D3D3D3;
        border-bottom: 2px solid #D3D3D3;
      }
    }
    .show-more-reply{
      cursor: pointer;
      margin-left: 50px;
      color: #65676B;
      position: relative;
      
      &::before{
        content: "";
        z-index: -1;
        position: absolute;
        top: -54px;
        left: -29px;
        width: 22px;
        height: 62px;
        background-color: transparent;
        border-bottom-left-radius: 10px;
        border-left: 2px solid #D3D3D3;
        border-bottom: 2px solid #D3D3D3;
      }
      &:hover{
        text-decoration: underline;
        
      }
    }
  }
}
