@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
@mixin item-with-icon {
  display: flex;
  align-items: center;
  border: 1px solid $root-title-color;
  padding: 5px 15px;
  color: $root-title-color;
  font-weight: 500;
  width: 80px;
  justify-content: center;
  &:hover{
    background-color: white;
    color: #00adee;
  }
  img {
    margin-right: 8px;
  }
}

.main-menu{
  background-color: $root-background-color;
  padding: 15px 0;
  .layout-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  .left-header{
    display: flex;
    align-items: center;
  }
  .logo{
    cursor: pointer;
    img{
      height: 55px;
    }
  }
  .search{
    background: $root-background-color;
    border: 1px solid #4C41B1;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    height: 40px;
    display: flex;
    padding: 4px 12px;
    align-items: center;
    width: calc( 80% - 55px );
    margin-left: 20px;
    .icon {
      margin-right: 8px;
      display: flex;
      align-items: center;
      color: #9B92F1;
    }
    input {
      border: none;
      outline: none;
      font-size: 14px;
      background: transparent;
      width: 100%;
      padding: 5px;
      color: $root-title-color;
      &::-webkit-input-placeholder { /* Edge */
        color: #9B92F1;
      }
      
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #9B92F1;
      }
      
      &::placeholder {
        color: #9B92F1;
      }
    }
  }
  .menu {
    display: flex;
    justify-content: space-between;
    max-width: 55%;
    align-items: center;
    .menu-item{
      color: $root-title-color;
      text-align: center;
      position: relative;
      cursor: pointer;
      font-size: 14px;
      &:hover {
        &::after {
          content: "";
          position: absolute;
          background-color: $root-title-color;
          bottom: -7px;
          left: 50%;
          transform: translateX(-50%);
          height: 1px;
          animation: menuItemAnimation 0.3s forwards;
        }
        @keyframes menuItemAnimation {
          0% {
            width: 40%;
          }
          100% {
            width: 100%;
          }
        }
      }
    }
    .active-course{
    border:1px solid #5E52D0;
    color: #ABA1FF;
    font-weight: bold;
    text-transform: uppercase;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 20px;
    cursor: pointer;
    &:hover{
      background: #fdfdfd;
    }
    }
    .cart {
      .far{
        font-size: 20px;
        color: $root-title-color;
        cursor: pointer;
        margin-top: 5px;
      }
    }
    .login,
  .logout,
  .signup {
    cursor: pointer;
  }
  .login  , .signup{
    @include item-with-icon;
  }
  .login{
    img , i {
      display: none;
    }
  }
    .close-menu-icon {
      display: none;
    }
  }
  .overlay-on-mobile {
    display: none;
    transition: all 0.4s;
  }
  .menu-icon {
    cursor: pointer;
    display: none;
    i {
      color: $root-color;
    }
  }
}
}
.wrapper-active-course {
  text-align: center;
  .title-active-course {
    h2 {
      margin-bottom: 0;
    }
  }
  .insert-code {
    margin: 10px 0;
    input {
      border: 0;
      outline: none;
      background-color: #ecedf1;
      padding: 7px 40px;
      text-transform: uppercase;
    }
  }
  .search-code {
    button {
      border: 0;
      background-color: #ffb400;
      color: white;
      padding: 7px 30px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
.giai-dap-thac-mac {
  display: flex;
  justify-content: center;
  text-align: center;
  color: red;
  font-size: 17px;
  margin: 10px 0;
  font-weight: 600;
  @media (max-width: 600px) {
    display: unset;
  }
  svg {
    transform: rotateY(200deg);
  }
}

@include responsive(xl) {
  .main-menu {
    position: relative;
    .menu {
      position: fixed;
      background-color: #fff;
      width: 240px;
      display: block;
      right: -100%;
      top: 0;
      z-index: 4;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
      height: 100vh;
      transition: all 0.4s;
      &.active-on-mobile {
        right: 0;
      }
      .menu-item {
        text-align: left;
        padding: 12px;
        font-size: 15px;
        &:hover {
          text-decoration: underline;
          &::after {
            display: none;
          }
        }
      }
    }
    .search {
      margin-left: 16px;
    }
  }
}
@media (max-width:1400px) {
  .main-menu {

    .layout-header {
      width: 95%;
      .menu{
        max-width: 66.67% !important;
      }
    }
    
  }
}
.course-item-modal {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 4px;
  border: 1px solid gray;
  border-radius: 4px;
  .course-subitem {
    display: flex;
    flex: 4;
    .course-avatar-modal {
      width: 150px;
      height: auto;
      object-fit: contain;
      margin-right: 5px;
    }
  }
}
@media (max-width:768px) {
  .main-menu{
    .layout-header{
      .left-header{
        .logo{
          display: block;
        }
        .search{
          width: calc( 100% - 55px );
          margin-right: 20px;
        }
        
      }
      .menu{
        display: unset;
        width: 70%;
        .menu-item{
          color: black;
          text-align: left;
        }
      }
    }
  }
}
.des-course {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title-course {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 700;
}
