@import "../../styles/variables.scss";
.content-news {
    margin-top: 50px;
    .title-category {
        font-size: 25px;
        color: #fb0;
        font-weight: 500;
    }
    .wraper-item-news {
        margin-bottom: 50px;
        .title-News-1 {
            font-size: 1.5em !important;
            margin-block-start: 0.83em !important;
            margin-block-end: 0.83em !important;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 70px;
                height: 2px;
                background-color: $root-color;
                bottom: 0;
            }
            &::after {
                position: absolute;
                left: 90px;
                content: "";
                width: calc(100% - 90px);
                height: 2px;
                background-color: $root-color-secondary;
                bottom: 0;
            }
        }
        .ant-row {
            // gap: 50px;
            display: flex;
            // justify-content: center;
        }
        .item-full-news {
            color: rgb(31, 30, 26);
            .item-news {
                padding: 10px;
                padding-left: 0;
                display: flex;
                .image {
                    margin: 7px 0;
                    padding-right: 15px;
                    img {
                        width: 100%;
                        height: 180px;
                    }
                }
                .inf-news {
                    padding-left: 15px;
                    .title-item-news {
                        font-size: 18px;
                        font-weight: 500;
                        text-transform: uppercase;
                        margin-top: 5px;
                        min-height: 55px;
                    }

                    .des-full-news {
                        text-align: justify;
                        min-height: 67px;
                    }

                    .wraper-show-more {
                        display: flex;
                        justify-content: flex-end;
                        .xem-them {
                            background-color: $root-color;
                            color: white;
                            width: 100px;
                            padding: 5px;
                            text-align: center;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }

        .right-category {
            padding-left: 50px;
            .wraper-item-category-news {
                .item-category-news {
                    &.active {
                        color: $root-color;
                        font-weight: 500;
                    }
                    color: $text-color-1;
                    font-size: 18px;
                    padding: 12px 0;
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "";
                        bottom: 0;
                        left: 0;
                        width: 200px;
                        height: 1px;
                        background-color: #ccc;
                    }
                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }
                    &:hover {
                        color: $root-color;
                    }
                }
            }
        }
        .wraper-pagination {
            text-align: center;
            margin-top: 20px;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            .ant-row {
                flex-direction: column-reverse;
                .item-full-news {
                    .item-news {
                        .image {
                            width: 300px;
                        }
                    }
                }

                .right-category {
                    padding-left: 0;
                }
            }
        }

        @media (max-width: 768px) {
            .ant-row {
                flex-direction: column-reverse;
                .item-full-news {
                    .item-news {
                        display: unset;
                        .image {
                            padding-right: 0;
                        }
                        .inf-news {
                            padding-left: 0;
                        }
                    }
                }
                .right-category {
                    padding-left: 0;
                }
            }
        }
    }
}

@include ellipsis-text();