$container-max-width: 1199.98px;
$h-mobile-max-width: 991.98px;
$mobile-max-width: 575.98px;
$menu-text-color: #fff;
$main-color-1: #ffd561;
$border-color-1: #e0e0e0;
$text-color-1: #000000d9;
$root-color: #ec1f24;
$root-color-secondary: #e0e0eb;
$root-background-color: #f7f7f3;
$root-title-color: #444;

@mixin ellipsis-text {
  .dot-1 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1 !important;
  }
  .dot-2 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .dot-3 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .dot-4 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  .dot-5 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
  .dot-6 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }
  .dot-7 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
  }
  .dot-8 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
  }
  .dot-9 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
  }
  .dot-10 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
  }
}

@mixin thin-scroll {
  scrollbar-width: thin;
  scrollbar-color: $root-color $root-background-color;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 7px;
    background: $root-background-color;
  }
  &::-webkit-scrollbar-thumb {
    background: $root-background-color;
    border-radius: 7px;
    border-top: 1px solid #ccc;
    &:hover {
      background: $root-color;
    }
  }
}
