$container-max-width: 1270px;
$h-mobile-max-width: 900px;
$mobile-max-width: 600px;
$menu-text-color: #fff;
$main-color-1: #ffd561;
$border-color-1: #e0e0e0;
$text-color-1: #000000d9;
$root-color: #ec1f24
